<!DOCTYPE html>
<html>
<head>
	<title>Graduate</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
	<h1>Enter Student name to confirm graduation:</h1>
	<form action="/graduate" method="POST">
    <input type="text" name="name" placeholder="Name">
    <button type="submit">Save</button>
  </form>

</body>
</html>